<a href="https://colab.research.google.com/github/SNMHZ/DART_ESG_Project/blob/main/KCGS_Crawler.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from urllib.request import urlopen
import bs4
import pandas as pd
import numpy as np

In [ ]:
#year -> 2011 ~ 2020
def get_KCGS_ESG(year):
  #url 쿼리 보정
  url = "http://www.cgs.or.kr/business/esg_tab04.jsp?pg=1&sfyear="+str(year)
  html = urlopen(url)
  bs_obj = bs4.BeautifulSoup(html, "html.parser")
  business_board = bs_obj.find("div", {"class":"business_board"})
  url=url+"&pp="+business_board.findAll("tr")[1].find("td").text

  #실제 크롤링 시작
  html = urlopen(url)
  bs_obj = bs4.BeautifulSoup(html, "html.parser")
  business_board = bs_obj.find("div", {"class":"business_board"})
  business_board_rows = business_board.findAll("tr")

  #컬럼 이름 및 데이터 보관 리스트 생성
  column_name_list = []
  column_data_list = []
  for column_name in business_board_rows[0].findAll("th"):
    column_name_list.append(column_name.text)
    column_data_list.append([])

  #데이터 리스트에 저장
  for row in business_board_rows[1:]:
    for i, elem in enumerate(row.findAll("td")):
      column_data_list[i].append(elem.text)
  
  #컬럼 이름 및 데이터로 데이터프레임 생성
  m_df=pd.DataFrame()
  column_name_list[2]='기업코드'
  for i, col_name in enumerate(column_name_list):
    m_df[col_name]=column_data_list[i]
  m_df.index=m_df['NO']
  del m_df['NO']
  return m_df

In [ ]:
KCGS_ESG_2017 = get_KCGS_ESG(2017)

In [ ]:
KCGS_ESG_2017

         기업명    기업코드 ESG등급   환경   사회 지배구조  평가년도 비고 (조정시기)
NO
732   AJ네트웍스  095570   B이하  B이하  B이하    B  2017
731    AJ렌터카  068400   B이하  B이하  B이하    C  2017
730    AK홀딩스  006840   B이하  B이하  B이하    B  2017
729      BGF  027410   B이하  B이하    A    B  2017
728  BNK금융지주  138930    B+   B+    A    B  2017
..       ...     ...   ...  ...  ...  ...   ...       ...
5        휴비스  079980    B+   B+    A    B  2017
4        휴스틸  005010   B이하  B이하  B이하    B  2017
3        휴켐스  069260    B+   B+   B+    B  2017
2       흥국화재  000540    B+  B이하  B이하    A  2017
1       흥아해운  003280   B이하  B이하  B이하    B  2017

[732 rows x 8 columns]

In [ ]:
KCGS_ESG_2017.to_excel('KCGS_ESG_2017.xlsx')

In [ ]:
esg_list=[]
for i in range(2011,2021):
  esg_list.append(get_KCGS_ESG(i))

In [ ]:
for i in range(len(esg_list)):
  esg_list[i].to_excel('KCGS_ESG_%d.xlsx'%(2011+i))